<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" charset="utf8" src="	https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(page = ${page})"></nav>
<br>
<div id="Content" class="container-fluid">
    <h2 th:text=" 'Hello, ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
    <p style="color: darkred" th:text="${errorState}"></p>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Update Password</div>
                <div class="card-body">
                    <form th:action="@{/update-password}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Password Lama:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="oldPassword">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="newPassword">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Konfirmasi Password Baru:</label>
                            <input type="password" class="col-sm-8 form-control input-sm" name="confirmPassword">
                        </div>
                        <div class="row form-group">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>