<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>View Store</title>
</head>

<body>
<h2> Informasi Store </h2>
<td> <a  th:href="@{/}"> Back to Home </a> </td> <br>
<td>  <a  th:href="@{/store/view-all}"> View All Store </a> </td>

<h4 style="color:darkred" th:text="${informasi}"> </h4>

<h3 th:text="'ID Store: '+ ${store.id}"> </h3>
<h3 th:text="'Nama Store: '+ ${store.nama}"> </h3>
<h3 th:text="'Keterangan: '+ ${store.keterangan}"> </h3>
<h3 th:text="'Followers: '+ ${store.followers}"> </h3>

<td> <a th:href="@{/store/change/} + ${store.id}"> Change Store </a> </td> <br>
<td> <a th:href="@{/store/delete/} + ${store.id}"> Delete Store </a></td>
<br>
<br>
<td> <a th:href="@{/product/add/} + ${store.id}"> Add Product </a></td>
<h2> Daftar Produk: </h2>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>Id Product</th>
        <th>Nama</th>
        <th>Harga</th>
        <th>Deskripsi</th>
        <th>Stok</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, iterationStatus : *{productList}"
        th:style="${iterationStatus.even} ? 'color:blue'">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.nama}"></td>
        <td th:if="${product.harga} >= 10000">Diatas 10k</td>
        <td th:unless="${product.harga} >= 10000">Dibawah 10k</td>
        <td th:text="${product.deskripsi}"></td>
        <td th:text="${product.stok}"></td>
    </tr>
    </tbody>
</table>
<div th:each="product:  ${productList}">
    <h3 th:text="'ID Product: '+ ${product.id}"> </h3>
    <h3 th:text="'Nama: '+ ${product.nama}"> </h3>
    <h3 th:text="'Harga: '+ ${product.harga}"> </h3>
    <h3 th:text="'Deskripsi: '+ ${product.deskripsi}"> </h3>
    <h3 th:text="'Stok: '+ ${product.stok}"> </h3>
    <td> <a th:href="@{/product/change/} + ${product.id}"> Change Product </a></td> <br>
    <td> <a th:href="@{/product/delete/} + ${product.id}"> Delete Product </a></td>
    </br>
    </br>
</div>

    </br>
</body>

</html>