<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>View All Store</title>
</head>

<body>
<td>  <a  th:href="@{/}"> Back to Home </a> </td> <br>
<br>

    <h2> Daftar Seluruh Store</h2>
    <div th:each="store : ${storeList}">
    <h3 th:text="'ID Store '+ ${store.id}"> </h3>
    <h3 th:text="'Nama Store '+ ${store.nama}"> </h3>
    <h3 th:text="'Keterangan '+ ${store.keterangan}"> </h3>
    <h3 th:text="'Followers '+ ${store.followers}"> </h3> <br> <br>

</div>
</body>

</html>