<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>View Store</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar(page = ${page})"></nav>
    <div class="container-fluid">
        <h2> Informasi Store </h2>
        <p th:text="'ID Store: '+ ${store.id}"> </p>
        <p th:text="'Nama Store: '+ ${store.nama}"> </p>
        <p th:text="'Keterangan: '+ ${store.keterangan}"> </p>
        <p th:text="'Followers: '+ ${store.followers}"> </p>

        <form th:action="@{/store/change/}+${store.id}">
            <button class="btn btn-sm btn-primary">
                Change Store
            </button>
        </form>

        <h2> Daftar Produk: </h2>
        <form  th:action="@{/product/delete}" th:object="${store}" method="POST">
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>Deskripsi</th>
                <th>Stok</th>
                <th>Aksi</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product, iterationStatus : *{listProduct}"
                th:style="${iterationStatus.even} ? 'color:blue'">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${product.nama}"></td>
                <td th:if="${product.harga} >= 10000">Diatas 10k</td>
                <td th:unless="${product.harga} >= 10000">Dibawah 10k</td>
                <td th:text="${product.deskripsi}"></td>
                <td th:text="${product.stok}"></td>
                <td>
                    <input type="checkbox" th:field="*{listProduct}" th:value="${product.id}"/>
                    <label th:for="${#ids.prev('listProduct')}">Hapus</label>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-sm btn-danger"> Hapus yang dipilih </button>
        </form>
        <br>
        <form th:action="@{/product/add/}+${store.id}">
            <button class="btn btn-sm btn-primary">
                Add Product
            </button>
        </form>
    </div>
</body>

</html>